body {
  --heading-font: "Marcellus", Yu Gothic, sans-serif;
  --heading-font-weight: 400;
  --heading-color: #111;
  --heading-line-height: 1.24;

  --swiper-theme-color: #8C907E;

  /* bootstrap */
  --bs-body-font-family: "Segoe UI", Yu Gothic, sans-serif;
  --bs-body-font-size: 18px;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #8f8f8f;
  --bs-body-color-rgb: 143, 143, 143;

  --bs-primary: #8C907E;
  --bs-secondary: #6c757d;
  --bs-black: #111;
  --bs-light: #F1F1F0;
  --bs-dark: #212529;
  --bs-gray: #9aa1a7;
  --bs-gray-dark: #51565b;

  --bs-primary-rgb: 140, 144, 126;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-black-rgb: 17, 17, 17;
  --bs-light-rgb: 241, 241, 240;
  --bs-dark-rgb: 33, 37, 41;

  --bs-link-color: #111;
  --bs-link-color-rgb: 17, 17, 17;
  --bs-link-decoration: underline;
  --bs-link-hover-color: #111;
  --bs-link-hover-color-rgb: 17, 17, 17;
}

body {
  letter-spacing: 0.03rem;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: var(--heading-font);
  font-weight: var(--heading-font-weight);
  color: var(--heading-color);
  line-height: var(--heading-line-height);
}

h1.light,
.h1,
h2.light,
.h2,
h3.light,
.h3,
h4.light,
.h4,
h5.light,
.h5,
h6.light,
.h6 {
  color: var(--light-color);
}

h1,
h2,
h3 {
  margin: 25px 0;
}

h5,
h6 {
  letter-spacing: 1px;
}

h1,
.h1 {
  font-size: 4.5rem;
}

h2,
.h2 {
  font-size: 3.6rem;
}

h3,
.h3 {
  font-size: 2.8rem;
}

h4,
.h4 {
  font-size: 1.8rem;
}

h5,
.h5 {
  font-size: 1.4rem;
}

h6,
.h6 {
  font-size: 1rem;
}

a {
  text-decoration: none;
}
.image-zoom-effect {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.image-zoom-effect .image-holder {
  width: 100%;
  overflow: hidden;
  transform: scale(1);
  transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  margin-bottom: 20px;
  aspect-ratio: 0.9;
}

.image-zoom-effect:hover .image-holder {
  transform: scale(0.95);
}

.image-zoom-effect img {
  transform: scale(1);
  will-change: transform;
  transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  z-index: 0;
  width: 100%;
  height: 100%; /* изображение занимает всю высоту контейнера */
  object-fit: cover; /* Сохранение пропорций изображения */
}

.image-zoom-effect:hover img {
  transform: scale(1.1);
}

.image-holder .description {
  text-align: center;
  margin-top: 10px;
}
.product-content {
    margin-left: 30px;
}

/* Link Effect*/
.link-effect a {
  position: relative;
  padding: 0;
  overflow: hidden;
  transition: transform 0.5s;
  display: block;
}

.link-effect a::after {
  content: attr(data-after);
  display: inline-block;
  transform: translateY(100%);
  position: absolute;
  left: 0;
  font-size: 1rem;
  text-align: inherit;
  text-transform: uppercase;
  transition: transform 0.5s;
  opacity: 0;
}

.link-effect a>span {
  display: inline-block;
  transform: translateY(0%);
  transition: transform 0.5s;
}

.link-effect:hover a>span {
  transform: translateY(-100%);
}

.link-effect:hover a::after {
  transform: translateY(0%);
  opacity: 1;
}


.latest-products {
	padding-top: 55px;
	padding-bottom: 65px;
}

.product-filter {
	margin-bottom: 20px;
}

.product-filter .section-title {
	margin-bottom: 20px;
}

.product-filter .product-controls li {
	list-style: none;
	display: inline-block;
	color: #838383;
	font-size: 14px;
	margin-right: 42px;
	font-weight: 500;
	cursor: pointer;
}

.product-filter .product-controls li.mixitup-control-active {
	color: #1e1e1e;
}

.product-filter .product-controls li:hover {
	color: #1e1e1e;
}

.product-filter .product-controls li:last-child {
	margin-right: 0;
}

.single-product-item {
	margin-bottom: 30px;
}

.single-product-item figure {
	margin-bottom: 40px;
	position: relative;
	overflow: hidden;
}

.single-product-item figure img {
	min-width: 100%;
}

.single-product-item figure .p-status {
	position: absolute;
	left: 20px;
	top: 20px;
	padding: 5px 16px;
	font-size: 12px;
	background: #1e1e1e;
	color: #fff;
	border-radius: 50px;
}

.single-product-item figure .p-status.sale {
	background: #FE439F;
}

.single-product-item figure .p-status.popular {
	background: #D0D7DB;
}

.single-product-item .product-text {
	text-align: center;
}

.single-product-item .product-text h6 {
	color: #727272;
	margin-bottom: 15px;
}

.single-product-item .product-text p {
	color: #1e1e1e;
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 0;
}

.single-product-img {
    position: relative;
    width: 500px;
    height: 750px;
    overflow: hidden;
}


.hover-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /
    height: auto;
    opacity: 0;
    transition: opacity 0.3s ease;
}


.single-product-img:hover .hover-img {
    opacity: 1;
}

.single-product-img:hover .main-img {
    opacity: 0;
}
