{% extends 'base.html' %}

{% block title %}
    About
{% endblock %}

{% block content %}
    {% load static %}
    <!-- breadcrumb-section -->
    <div class="breadcrumb-section breadcrumb-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 text-center">
                    <div class="breadcrumb-text">
                        <p>This Is Our Project For Web</p>
                        <h1>About Us</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end breadcrumb section -->

    <!-- team section -->
    <div class="mt-150">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 text-center">
                    <div class="section-title">
                        <h3>Our <span class="orange-text">Team</span></h3>
                        <p>We are very grateful to our teacher and mentor Pavel Mesenev for his help in setting up the payment API and for his moral support.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single-team-item">
                        <div class="team-bg team-bg-1"></div>
                        <h4><a href="https://t.me/yobysheva">Yulia Bobysheva<span>Programmer</span></a></h4>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-team-item">
                        <div class="team-bg team-bg-2"></div>
                        <h4><a href="https://t.me/byter1">Igor Nesterov<span>Programmer</span></a></h4>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
                    <div class="single-team-item">
                        <div class="team-bg team-bg-3"></div>
                        <h4><a href="https://t.me/eeetwinkle">Alyona Ermolaeva<span>Programmer</span></a></h4>
                    </div>
                </div>
            </div>
            <div class="mb-150"></div>
        </div>
    </div>
    <!-- end team section -->
{% endblock %}
