{% extends 'base.html' %}

{% block title %}
    Cart
{% endblock %}

{% block content %}
    {% load static %}
    <!-- breadcrumb-section -->
    <div class="breadcrumb-section breadcrumb-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 text-center">
                    <div class="breadcrumb-text">
                        {% if user.is_authenticated %}
                        <p>Buy Some New Dresses!</p>
                        <h1>Cart</h1>
                            {% else %}
                            <p>Authorize before you have access to cart</p>
                        <h1>Cart is empty</h1>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end breadcrumb section -->

    <!-- cart -->
    <div class="cart-section mt-150 mb-150">
        <div class="container">
            <div class="row">
            {% if user.is_authenticated %}
                <div class="col-lg-8 col-md-12">
                    <div class="cart-table-wrap">
                        <table class="cart-table">
                            <thead class="cart-table-head">
                            <tr class="table-head-row">
                                <th class="product-remove"></th>
                                <th class="product-image">Product Image</th>
                                <th class="product-name">Name</th>
                                <th class="product-price">Price</th>
                                <th class="product-quantity">Quantity</th>
                                <th class="product-total">Total</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if user.is_authenticated %}
                                {% for dress in carted_dresses %}
                                    <tr class="table-body-row" id="row-{{ dress.id }}">
                                        <td class="product-remove"><a href="{% url 'users:remove_from_cart' %}"><i class="far fa-window-close fa-window-close-cart" data-dress-id="{{ dress.id }}"></i></a></td>
                                    <td class="product-image"><a href="{% url 'products:single_product' dress.id %}"><img src="{{ dress.photo.url }}" alt="{{ dress.name }}"></a></td>
                                    <td class="product-name">{{ dress.name }}</td>
                                    <td class="product-price">${{ dress.cost }}</td>
                                    <td class="product-quantity">
                                        <input type="number" class="quantity-input" value="1" min="1" data-cost="{{ dress.cost }}">
                                    </td>
                                    <td class="product-total">${{ dress.cost }}</td>
                                </tr>
                                {% endfor %}
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="total-section">
                        <table class="total-table">
                            <thead class="total-table-head">
                            <tr class="table-total-row">
                                <th>Total</th>
                                <th>Price</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="total-data">
                                <td><strong>Subtotal: </strong></td>
                                <td>$500</td>
                            </tr>
                            <tr class="total-data">
                                <td><strong>Shipping: </strong></td>
                                <td>$45</td>
                            </tr>
                            <tr class="total-data">
                                <td><strong>Total: </strong></td>
                                <td>$545</td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="cart-buttons">
                            <a href="cart.html" class="boxed-btn">Update Cart</a>
                            <a href="{% url 'yoomoney:create_payment' %}" class="boxed-btn black" type="submit">Check Out</a>
                        </div>
                    </div>
                </div>
            {% endif %}
            </div>
        </div>
    </div>
    <!-- end cart -->
{% endblock %}
