{% extends 'base.html' %}

{% block title %}
    Cart
{% endblock %}

{% block content %}
    {% load static %}
    <!-- breadcrumb-section -->
    <div class="breadcrumb-section breadcrumb-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 text-center">
                    <div class="breadcrumb-text">
                        {% if user.is_authenticated %}
                            <p>Buy Some New Dresses!</p>
                            <h1>Cart</h1>
                        {% else %}
                            <p>Authorize before you have access to cart</p>
                            <h1>Cart is empty</h1>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end breadcrumb section -->

    <!-- cart -->
    <div class="cart-section mt-150 mb-150">
    <div class="container">
        <div class="row">
            {% if user.is_authenticated %}
                <div class="col-lg-8 col-md-12">
                    <div class="cart-table-wrap">
                        <table class="cart-table">
                            <thead class="cart-table-head">
                            <tr class="table-head-row">
                                <th class="product-remove"></th>
                                <th class="product-image">Product Image</th>
                                <th class="product-name">Name</th>
                                <th class="product-size">Size</th>
                                <th class="product-price">Price</th>
                                <th class="product-quantity">Quantity</th>
                                <th class="product-total">Total</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for dress in carted_dresses %}
                                <tr class="table-body-row items-items-items" id="row-{{ dress.id }}">
                                    <td class="product-id" hidden="hidden">
                                        <input class="product-input-id" type="number" value={{ dress.id }}></td>
                                    <td class="product-remove"><a href="{% url 'users:remove_from_cart' %}"><i
                                            class="far fa-window-close fa-window-close-cart"
                                            data-dress-id="{{ dress.id }}" id="remove"></i></a></td>
                                    <td class="product-image"><a
                                            href="{% url 'products:single_product' dress.id %}"><img
                                            src="{{ dress.photo.url }}" alt="{{ dress.name }}"></a></td>
                                    <td class="product-name">{{ dress.name }}</td>
                                    <td class="product-size">
                                        <input type="number" value="42" min="42" max="54"
                                               step="2" class="size-input"></td>
                                    <td class="product-price">₽{{ dress.cost }}</td>
                                    <td class="product-quantity">
                                        <input type="number" class="quantity-input" value="1" min="1"
                                               data-cost="{{ dress.cost }}">
                                    </td>
                                    <td class="product-total">₽{{ dress.cost }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="total-section">
                        <table class="total-table">
                            <thead class="total-table-head">
                            <tr class="table-total-row">
                                <th>Total</th>
                                <th>Price</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="total-data">
                                <td><strong>Subtotal: </strong></td>
                                <td id="total-data-cost">₽{{ total_cost }}</td>
                            </tr>
                            <tr class="total-data">
                                <td><strong>Shipping: </strong></td>
                                <td id="total-shipping-cost">₽{{ shipping_cost }}</td>
                            </tr>
                            <tr class="total-data">
                                <td><strong>Total: </strong></td>
                                <td id="total-all-cost">₽{{ result_cost }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <form class="form" id="shipping-form" method="post"
                          action="{% url 'users:add_shipping_information' %}">
                        {% csrf_token %}
                        <div class="total-section mt-5">
                            <table class="total-table">
                                <thead class="total-table-head">
                                <tr class="table-total-row">
                                    <th colspan="2">Shipping Information</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="total-data">
                                    <td><strong>Full name: </strong></td>
                                    <td><input class="input-field" type="text" name="fullname" id="fullname"
                                               value="{{ form.fullname.value }}" placeholder="{{ user.fullname }}"
                                               required></td>
                                </tr>
                                <tr class="total-data">
                                    <td><strong>Phone number: </strong></td>
                                    <td><input class="input-field" type="text" name="phone"
                                               value="{{ form.phone.value }}" placeholder="{{ user.phone }}"
                                               id="phone-input" required></td>
                                </tr>
                                <tr class="total-data">
                                    <td><strong>Address: </strong></td>
                                    <td><input class="input-field" type="text" id="address" name="address"
                                               value="{{ form.address.value }}" placeholder="{{ user.address }}"
                                               required></td>
                                </tr>
                                <tr class="total-data">
                                    <td><strong>Postal code: </strong></td>
                                    <td><input class="input-field" type="text" name="postal_code"
                                               value="{{ form.postal_code.value }}"
                                               placeholder="{{ user.postal_code }}" required></td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="cart-buttons">
                                <button type="submit" class="transparent-btn"><a class="boxed-btn black mb-5"
                                                                                 type="submit">Payment</a></button>
                            </div>
                        </div>
                    </form>
                </div>
                </div>
                </div>
            {% endif %}
    <!-- end cart -->
    {% if user.is_authenticated %}
        <script>
            function getFormData($form) {
                var unindexed_array = $form.serializeArray();
                var indexed_array = {};

                $.map(unindexed_array, function (n, i) {
                    indexed_array[n['name']] = n['value'];
                });
                return indexed_array;
            }

            $(document).ready(function () {
                $('#shipping-form').on('submit', function (event) {
                    event.preventDefault();
                    const form = $(this);
                    const card_items = [];
                    $('.items-items-items').each((_, elem) => {
                            const new_obj = {};
                            [...elem.children].forEach((cell) => {
                                const input = cell.querySelector('input');
                                if (input === null) return;
                                if (input.classList.contains('product-input-id')) new_obj['id'] = input.value;
                                if (input.classList.contains('size-input')) new_obj['size'] = input.value;
                                if (input.classList.contains('quantity-input')) new_obj['quantity'] = input.value;
                            })
                            card_items.push(new_obj)
                        }
                    )

                    const card_data = getFormData(form);
                    card_data['items'] = card_items;
                    $.ajax({
                        type: 'POST',
                        url: form.attr('action'),
                        data: JSON.stringify(card_data),
                        contentType: "application/json; charset=utf-8",
                        success: function (response) {
                            {#debugger;#}
                            if (response.status === 'success') {
                                {#debugger;#}
                                window.location.href = response.url_to_redirect;
                            } else {
                                alert(response.message);
                            }
                        },
                        error: function (err) {
                            alert('An unexpected error occurred. Please try again.');
                        }
                    });
                });
            });
        </script>
    {% endif %}

{% endblock %}
