{% extends 'base.html' %}

{% block title %}
    Karmen-Dress-Store
{% endblock %}

{% block content %}
    {% load static %}
    <!-- home page slider -->
    <div class="homepage-slider">
        <!-- single home slider -->
        <div class="single-homepage-slider homepage-bg-1">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-7 offset-lg-1 offset-xl-0">
                        <div class="hero-text">
                            <div class="hero-text-tablecell">
                                <p class="subtitle">Karmen Dress Store</p>
                                <h1>Find The Dress Of Your Dream</h1>
                                <div class="hero-btns">
                                    <a href="{% url 'products:index' %}" class="boxed-btn">Dress Collection</a>
                                    <a href="{% url 'products:about' %}" class="bordered-btn">About Us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- single home slider -->
        <div class="single-homepage-slider homepage-bg-2">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 offset-lg-1 text-center">
                        <div class="hero-text">
                            <div class="hero-text-tablecell">
                                <p class="subtitle">Karmen Dress Store</p>
                                <h1>100% Original Collection</h1>
                                <div class="hero-btns">
                                    <a href="{% url 'products:index' %}" class="boxed-btn">Dress Collection</a>
                                    <a href="{% url 'products:about' %}" class="bordered-btn">About Us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- single home slider -->
        <div class="single-homepage-slider homepage-bg-3">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 offset-lg-1 text-right">
                        <div class="hero-text">
                            <div class="hero-text-tablecell">
                                <p class="subtitle">Karmen Dress Store</p>
                                <h1>Search For New Discount</h1>
                                <div class="hero-btns">
                                    <a href="{% url 'products:index' %}" class="boxed-btn">Dress Collection</a>
                                    <a href="{% url 'products:about' %}" class="bordered-btn">About Us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end home page slider -->

	<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
		<defs>
		  <symbol xmlns="http://www.w3.org/2000/svg" id="heart" viewBox="0 0 24 24">
			<path fill="currentColor"
			  d="M20.16 4.61A6.27 6.27 0 0 0 12 4a6.27 6.27 0 0 0-8.16 9.48l7.45 7.45a1 1 0 0 0 1.42 0l7.45-7.45a6.27 6.27 0 0 0 0-8.87Zm-1.41 7.46L12 18.81l-6.75-6.74a4.28 4.28 0 0 1 3-7.3a4.25 4.25 0 0 1 3 1.25a1 1 0 0 0 1.42 0a4.27 4.27 0 0 1 6 6.05Z" />
		  </symbol>
		</defs>
	  </svg>
	<!-- products -->
	<section id="dress-list" class="py-5">
        <div class="container">
			<div class="product-filter">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="section-title">
                            <h2>Our Products</h2>
                        </div>
                        <ul class="product-controls">
                            <li data-filter="">All</li>
                            <li data-filter=".summer">Summer</li>
                            <li data-filter=".office">Office</li>
                            <li data-filter=".evening">Evening</li>
                            <li data-filter=".cocktail">Cocktail</li>
                            <li>
                                <select id="color-filter-select">
                                    <option value="">Color</option>
                                    <option value="красный">Red</option>
                                    <option value="голубой">Blue</option>
                                    <option value="черный">Black</option>
                                    <option value="белый">White</option>
                                    <option value="серый">Grey</option>
                                </select>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="color-filter-menu" style="display: none;">
                    <ul class="color-options">
                        <li class="color-option" data-color="красный">Red</li>
                        <li class="color-option" data-color="голубой">Blue</li>
                        <li class="color-option" data-color="черный">Black</li>
                        <li class="color-option" data-color="белый">White</li>
                    </ul>
                </div>
            </div>
            <div class="row" id="product-list">
                {% for dress in products %}
                <div class="col-md-4 dress-item {% if dress.category.name %}{{ dress.category.name|lower }}{% endif %}" data-color="{{ dress.color|lower }}">
                    <div class="product-item image-zoom-effect link-effect">
                        <div class="image-holder position-relative">
                            <a href="{% url 'products:single_product' dress.id %}">
                                <img src="{{ dress.photo.url }}" alt="{{ dress.name }}" class="product-image img-fluid">
                            </a>
                        </div>
                        <div class="product-content">
							<a href="{% url 'users:add_to_likes' %}" class="btn-icon btn-wishlist {% if dress.id in liked_dresses %}liked{% endif %}" data-dress-id="{{ dress.id }}">
                                <svg width="24" height="24" viewBox="0 0 24 24">
                                    <use href="#heart"></use>
                                </svg>
                            </a>
                            <h5 class="element-title text-uppercase fs-5 mt-3">
                                <a href="{% url 'products:single_product' dress.id %}">{{ dress.name }}</a>
                            </h5>
                            <a href="{% url 'users:add_to_cart' %}" class="text-decoration-none" data-dress-id="{{ dress.id }}" {% if dress.id in carted_dresses %}data-after="In Cart"{% else %}data-after="Add to cart"{% endif %}>
                                <span>${{ dress.cost }}</span>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
