{% extends 'base.html' %}

{% block title %}
    Orders
{% endblock %}

{% block content %}
    {% load static %}
    <!-- breadcrumb-section -->
    <div class="breadcrumb-section breadcrumb-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 text-center">
                    <div class="breadcrumb-text">
                        {% if user.is_authenticated %}
                        <p>Thank you for your order!</p>
                        <h1>Orders for user {{ user.username }}</h1>
                            {% else %}
                            <p>Authorize before you have access to orders list.</p>
                        <h1>You Have no Orders</h1>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end breadcrumb section -->
{% if user.is_authenticated %}
    <sectoin class="py-5">
    <div class="container">
 <div class="mt-150 mb-150">
    <div class="cart-table-wrap">
        <table class="cart-table pl-5 pr-5">
            <thead class="cart-table-head">
                <tr class="table-head-row">
                    <th class="order-number">Order Id</th>
                    <th class="order-details">Order Details</th>
                    <th class="order-sum">Order Cost</th>
                    <th class="order-date">Order Date</th>
                    <th class="post-address">Status</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr class="table-body-row">
                    <td class="order-number">{{ order.order.id }}</td>

                    <!-- Список товаров -->
                    <td class="col-md-12 order-details">
                        <table class="cart-table">
                            <thead class="cart-table-head">
                                <tr class="table-head-row">
                                    <th class="product-number"></th>
                                    <th class="product-image">Product Image</th>
                                    <th class="product-name">Name</th>
                                    <th class="product-size">Size</th>
                                    <th class="product-price">Price</th>
                                    <th class="product-quantity">Quantity</th>
                                    <th class="product-total">Total</th>
                                </tr>
                            </thead>
    <tbody>
        {% for item in order.items %}
        <tr class="table-body-row">
        <td class="product-number">{{ item.number }}</td>
            <td class="product-image"><a href="{% url 'products:single_product' item.dress.id %}">
                <img src="{{ item.dress.photo.url }}" alt="{{ item.dress.name }}"></a></td>
            <td class="product-name">{{ item.dress.name }}</td>
            <td class="product-size">{{ item.size }}</td>
            <td class="product-price">{{ item.dress.cost }}</td>
            <td class="product-quantity">{{ item.quantity }}</td>
            <td class="product-total">{{ item.total }}</td>
        </tr>
        {% endfor %}
    </tbody>
                        </table>
                    </td>
                <td class="order-sum">{{order.order.order_sum}}</td>
                    <td class="order-date">{{ order.order_date }}</td>
                <td class="status">{{ order.status}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
        </div>
    </sectoin>
{% endif %}

{% endblock %}