{% extends 'base.html' %}

{% block title %}
    Registration
{% endblock %}

{% block content %}
    {% load static %}
    <nav class="navbar navbar-transparent navbar-color-on-scroll fixed-top navbar-expand-lg" color-on-scroll="100"
         id="sectionsNav">
        <div class="container">

        </div>
    </nav>
    <div class="page-header header-filter"
         style=" background-image: url('{% static 'img/main_img1.png' %}'); background-size: cover; background-position:center;">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 ml-auto mr-auto">
                    <div class="card card-login">
                        <form class="form" method="post" action="{% url 'users:sign-up' %}">
                            {% csrf_token %}
                            <div class="card-header card-header-primary text-center">
                                <h2 class="card-title">Login</h2>
                            </div>
                            {% if form.errors %}
                                {{ form.errors }}
                            {% endif %}
                            <div class="card-body">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">Login</i>
                    </span>
                                    </div>
                                    {{ form.username }}
                                </div>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">Password</i>
                    </span>
                                    </div>
                                    {{ form.password1 }}
                                </div>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">Password again</i>
                    </span>
                                    </div>
                                    {{ form.password2 }}
                                </div>
                            </div>
                            <div class="footer text-center">
                                <input class="btn btn-primary btn-link btn-wd btn-lg" type="submit" value="Get Started">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
