{% extends 'base.html' %}

{% block title %}
    Single Product
{% endblock %}

{% block content %}
    {% load static %}
    <!-- breadcrumb-section -->
    <div class="breadcrumb-section breadcrumb-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 text-center">
                    <div class="breadcrumb-text">
                        <p>See more Details</p>
                        <h1>Single Product</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end breadcrumb section -->

<!-- single product -->
<div class="single-product mt-150 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="single-product-img">
                    <img src="{{ dress.photo.url }}" alt="">
                </div>
            </div>
            <div class="col-md-7">
                <div class="single-product-content">
                    <h3>{{ dress.name }}</h3>
                    <p class="single-product-pricing"> {{ dress.cost }}</p>
                    <p>Color: {{ dress.color }}</p>
                    <p>Length: {{ dress.length }}</p>
                    <p>Material: {{ dress.material }}</p>
                    <p>Model: {{ dress.model }}</p>
                    <p>Category: {{ dress.category.name }}</p>
                    <div class="single-product-form">
                        <form action="index.html">
                            <input type="number" placeholder="0">
                        </form>
                        <a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- end single product -->

<div class="more-products mb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="section-title">
                    <h3>Explore other products</h3>
                </div>
            </div>
        </div>
        <div class="row">
            {% for dress in related_dresses %}
            <div class="col-md-4 dress-item {% if dress.category.name %}{{ dress.category.name|lower }}{% endif %}">
                    <div class="product-item image-zoom-effect link-effect">
                        <div class="image-holder position-relative">
                            <a href="{% url 'products:single_product' dress.id %}">
                                <img src="{{ dress.photo.url }}" alt="{{ dress.name }}" class="product-image img-fluid">
                            </a>
                        </div>
                        <div class="product-content">
							<a href="index.html" class="btn-icon btn-wishlist">
                                <svg width="24" height="24" viewBox="0 0 24 24">
                                    <use xlink:href="#heart"></use>
                                </svg>
                            </a>
                            <h5 class="element-title text-uppercase fs-5 mt-3">
                                <a href="{% url 'products:single_product' dress.id %}">{{ dress.name }}</a>
                            </h5>
                            <a href="#" class="text-decoration-none" data-after="Add to cart">
                                <span>${{ dress.cost }}</span>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

    <!-- end more products -->
{% endblock %}
