{% extends 'base.html' %}

{% block title %}
    Single Product
{% endblock %}

{% block content %}
    {% load static %}
    <!-- breadcrumb-section -->
    <div class="breadcrumb-section breadcrumb-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 text-center">
                    <div class="breadcrumb-text">
                        <p>Buy Right Now!</p>
                        <h1>{{ dress.name }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end breadcrumb section -->

<!-- single product -->
<div class="single-product mt-150 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="single-product-img">
                    <img src="{{ dress.photo.url }}" alt="" class="main-img">
                    <img src="{{ dress.photo_hover.url }}" alt="" class="hover-img">
                </div>
            </div>
            <div class="col-md-7">
                <div class="single-product-content">
                    <h3>{{ dress.name }}</h3>
                    <p class="single-product-pricing">$ {{ dress.cost }}</p>
                    <p>Color: {{ dress.color }}</p>
                    <p>Length: {{ dress.length }}</p>
                    <p>Material: {{ dress.material }}</p>
                    <p>Model: {{ dress.model }}</p>
                    <p>Category: {{ dress.category.name }}</p>
                    <div class="single-product-form">
{#                        <form action="index.html">#}
{#                            <p>Size:#}
{#                            <input type="number" placeholder="44" min="40" max="52" step="2">#}
{#                            </p>#}
{#                        </form>#}
                        <a href="{% url 'users:add_to_cart' %}" class="cart-btn" data-dress-id="{{ dress.id }}"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                    <a href="{% url 'users:add_to_likes' %}" class="btn-icon btn-wishlist {% if dress.id in liked_dresses %}liked{% endif %}" data-dress-id="{{ dress.id }}">
                                <svg width="50" height="50" viewBox="0 0 24 24">
                                    <use href="#heart"></use>
                                </svg>
                            </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end single product -->
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
		<defs>
		  <symbol xmlns="http://www.w3.org/2000/svg" id="heart" viewBox="0 0 24 24">
			<path fill="currentColor"
			  d="M20.16 4.61A6.27 6.27 0 0 0 12 4a6.27 6.27 0 0 0-8.16 9.48l7.45 7.45a1 1 0 0 0 1.42 0l7.45-7.45a6.27 6.27 0 0 0 0-8.87Zm-1.41 7.46L12 18.81l-6.75-6.74a4.28 4.28 0 0 1 3-7.3a4.25 4.25 0 0 1 3 1.25a1 1 0 0 0 1.42 0a4.27 4.27 0 0 1 6 6.05Z" />
		  </symbol>
		</defs>
        </svg>
<div class="more-products mb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="section-title">
                    <h3>Explore other products</h3>
                </div>
            </div>
        </div>
        <div class="row">
            {% for dress in related_dresses %}
            <div class="col-md-4 dress-item {% if dress.category.name %}{{ dress.category.name|lower }}{% endif %}">
                    <div class="product-item image-zoom-effect link-effect">
                        <div class="image-holder position-relative">
                            <a href="{% url 'products:single_product' dress.id %}">
                                <img src="{{ dress.photo.url }}" alt="{{ dress.name }}" class="product-image img-fluid">
                            </a>
                        </div>
                        <div class="product-content">
							<a href="{% url 'users:add_to_likes' %}" class="btn-icon btn-wishlist {% if dress.id in liked_dresses %}liked{% endif %}" data-dress-id="{{ dress.id }}">
                                <svg width="24" height="24" viewBox="0 0 24 24">
                                    <use href="#heart"></use>
                                </svg>
                            </a>
                            <h5 class="element-title text-uppercase fs-5 mt-3">
                                <a href="{% url 'products:single_product' dress.id %}">{{ dress.name }}</a>
                            </h5>
                            <a href="{% url 'users:add_to_cart' %}" class="text-decoration-none" data-dress-id="{{ dress.id }}" {% if dress.id in carted_dresses %}data-after="In Cart"{% else %}data-after="Add to cart"{% endif %}>
                                <span>${{ dress.cost }}</span>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

    <!-- end more products -->
{% endblock %}
